div#question, div#done, div#thinking {
    margin: 2em auto 2em auto;
    padding: 1em;
    width: 300px;
    border: 2px solid #bbb;
    text-align: center;
    box-shadow: 2px 2px 15px #ccc;    
}

ul#history li, ul#upcoming-questions li {
    margin-top: .3em;
}

ul#history {
    .answerText {
        font-weight: bold;
    }
}

ul#upcoming-questions {
    color: #ccc;
}

div#answerInputs {
    margin-top: .5em;
    input {
        margin-left: .5em;
        margin-right: .5em;
    }
}

#app p {
    margin: 2em;
}