div#question, div#done, div#thinking {
    margin: 2em auto 2em 2em;
    padding: 1em;
    width: 300px;
    border: 2px solid #bbb;
    text-align: center;
    box-shadow: 2px 2px 15px #ccc;    
}

ul#history li, ul#future li {
    margin-top: .3em;
}

ul#history {
    .answerText {
        font-weight: bold;
    }
}

ul#future {
    color: #ccc;
}

div#answerInputs {
    margin-top: .5em;
    input {
        margin-left: .5em;
        margin-right: .5em;
    }
}

#app p {
    margin: 2em;
}

#loader {
    margin: 2em;
}

#done {

    p {
        margin: .5em 0 .5em 0;
    }

    ol, ul {
        text-align: left;
    }
}

div#best-guess {
    top: 100px;
}

div#entropy {
    top: 50px;
}

div#best-guess, div#entropy {
    position: absolute;
    right: 50px;
    width: 200px;
    padding: .5em;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ccc;
    color: #777;
    font-size: 12px;
}

div#best-guess ul {
    padding-left: 5px;
    margin-left: 15px;
}